* {
  margin: 0;
  font-family: "Sriracha", cursive;
}

html {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.navbar input,
button {
  border: none;
}

.navbar input {
  background-color: #cffafe;
  border-radius: 20px;
  max-width: 700px;
  min-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  margin-left: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #06b6d4;
  color: #ecfeff;
  grid-row: 1 / 3;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 1.5em;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.searchbutton {
  width: px;
}

li {
  margin: 10px 0;
}

.sidebar i {
  margin-right: 25px;
}

a {
  text-shadow: 2px 2px #164e63;
  text-decoration: none;
  color: #ecfeff;
}

.logo h2 {
  text-shadow: 2px 2px #164e63;
}

.top {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.navbar {
  display: flex;
  background-color: #ecfeff;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navright {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

#profileName {
  font-family: "Patrick Hand", cursive;
}
.profile {
  height: auto;
  width: 30px;
  border-radius: 50%;
  border: 3px solid black;
}

.bigprofile {
  height: auto;
  width: 90px;
  border-radius: 50%;
  border: 3px solid black;
  margin-left: 20px;
}

.mainbar {
  display: flex;
  align-items: center;
  background-color: #ecfeff;
  height: 50px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
  z-index: 20;
  padding-bottom: 15px;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

#helloName {
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
}
.mainbuttons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  flex: 1.2;
  margin-right: 50px;
}

.mainbuttons button {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #06b6d4;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  gap: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  background-color: #cffafe;
  grid-row: 1 / 3;
  gap: 20px;
}

.card {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-left: 20px solid #155e75;
}

.announcements {
  background-color: #cffafe;
}

.trending {
  background-color: #cffafe;
}
