* {
  margin: 0;
  font-family: "Sriracha", cursive;
}

html {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: lightblue;
  grid-row: 1 / 3;
  padding-top: 25px;
  padding-left: 25px;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.top {
  display: grid;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.navbar {
  background-color: aquamarine;
}

.mainbar {
  background-color: blanchedalmond;
}

.projects {
  background-color: bisque;
  grid-row: 1 / 3;
}

.announcements {
  background-color: antiquewhite;
}

.trending {
  background-color: cornsilk;
}
