* {
  margin: 0;
  font-family: "Sriracha", cursive;
}

html {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

.navbar input,
button {
  border: none;
}

.navbar input {
  background-color: #cffafe;
  border-radius: 20px;
  height: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #06b6d4;
  color: #ecfeff;
  grid-row: 1 / 3;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 1.5em;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.searchbutton {
  width: px;
}

li {
  margin: 10px 0;
}

.sidebar i {
  margin-right: 25px;
}

a {
  text-shadow: 2px 2px #164e63;
  text-decoration: none;
  color: #ecfeff;
}

.logo h2 {
  text-shadow: 2px 2px #164e63;
}

.top {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.navbar {
  display: flex;
  background-color: #ecfeff;
  justify-content: space-between;

  align-items: center;
  padding: 20px;
}

.navright {
  display: flex;
  align-items: center;
  gap: 20px;
}

#profileName {
  font-family: "Patrick Hand", cursive;
}
.profile {
  height: auto;
  width: 30px;
  border-radius: 50%;
  border: 3px solid black;
}

.mainbar {
  background-color: blanchedalmond;
  flex: 1;
}

.projects {
  background-color: bisque;
  grid-row: 1 / 3;
}

.announcements {
  background-color: antiquewhite;
}

.trending {
  background-color: cornsilk;
}
